body {
    margin: 0;
    padding: 0;
    background-color: rgb(67, 0, 129);
    display: absolute;
    margin: 7%;
}

#auto_display,
#click_display {
    width: 500px;
    height: 500px;
    border: 5px solid #fff;
}

img {
    width: 500px;
    height: 500px;
}

#box {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#prev,#next{
    width: 150px;
    height: 40px;
    text-align: center;
    background: blue;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 20px;
}
#prev{
    background: red;
}

/* body div{
    margin-left:40px;
    padding-top:20px;
    width: 500px;
    height: 100px; 
} */